@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

$black: #232323;
$primary: #2940D3;
$secondary: #3a4346;
$terciary: #94c7f6;

/* html {
    scroll-behavior: smooth;
} */

body{
    overflow-x: hidden;
}

// Toggle Languages

.content {
    display: none;
}

.content.contentEnglish {
    display: block;
}

.check {
    position: relative;
    width: 50px;
}

.check::before {
    content: '';
    position: absolute;
    left: 0px;
    top: -5px;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:checked::before {
    background: #00a1ff;
}

.check::after {
    content: '';
    position: absolute;
    top: -5px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked::after {
    left: 25px;
    border: 2px solid #00a1ff;
}

.show-content {
    display: block!important;
}

.hide-content {
    display: none!important;
}

.check:checked ~ .content.contentEnglish {
    display: none;
}

.check:checked ~ .content.contentSpanish {
    display: block;
}

.li_language {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 10px;
    padding: 20px 0;
}

.flag {
    width: 50px;
    height: 30px;
}

// Navbar

.no-scroll-y {
    overflow-y: hidden;
}

hr{
    border-top: 1px solid $terciary;
}

.background-nav{
    background-color: transparent!important;
    transition: all .5s;
}

.background-rgba{
    background-color: rgba(0, 0, 0, 0.9)!important;
    transition: all .5s ease;
}

#toggle{
    border: 1px solid white;
}

.nav-item {
    border-bottom: 1px solid white;
}

// Home

#home{
    background-image: url("../images/background-code.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 7%;
}

#home:before{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
}

#profile_picture{
    max-width: 100%;
    width: 240px;
}

#logo:hover{
    animation: pulse;
    animation-duration: 1s;
}

.nav-item:hover{
    font-size: 17px;
    transition: all .5s;
}

.effect{
    opacity: 0;
}

.text-primary{
    color: $primary!important;
}

.bg-black{
    background-color: $black;
}

.btn{
    width: 10em;
    text-align: center;
}

.btn-contact{
    width: 5em!important;
    border: 3px solid $terciary;
    max-width: 100%;
}

.btn-contact:hover{
    background-color: #3a4346;
    transition: all .5s;
}

.btn-primary{
    background-color: $primary;
}

.btn-secondary{
    background-color: $secondary;
}

.card{
    border: 1px solid rgba(148, 199, 246, 0.4);
}

.technology{
    display: inline-flex;
    justify-content: center;
    width: 35px;
}

#arrow_up,
#arrow_down{
    font-size: 1.5em;
}

#down{
    position: relative;
    top: 3em;
}

@media (min-width: 576px){
    #text-home{
        font-size: 18px;
    }

    #arrow_up{
        padding: .20em!important;
        font-size: 1.5em;
    }
}

@media (min-width: 768px){
    #profile_picture{
        float: right;
    }

    #text-home{
        display: block;
        margin: auto 0px;
        font-size: 18px;
    }

    .nav-item {
        border: none;
    }

    #down{
        position: relative;
        top: 7em;
    }

    .li_language {
        padding: 0px;
    }
}

@media (min-width: 992px){
    #text-home{
        font-size: 24px;
    }

    .btn-contact{
        padding: 1em;
    }
}

@media (min-width: 1200px){
    #home{
        background-size: 100% 100%;
    }
}
