$black: #232323;
$primary: #2940D3;
$secondary: #3a4346;
$terciary: #94c7f6;

html {
    scroll-behavior: smooth;
}

hr{
    border-top: 1px solid $terciary;
}

.background-nav{
    background-color: transparent!important;
    transition: all .5s;
}

.background-rgba{
    background-color: rgba(0, 0, 0, 0.8)!important;
    transition: all .5s ease;
}

#toggle{
    border: 1px solid white;
}

#home{
    background-image: url("../images/background-code.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 7%;
}

#home:before{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
}

#profile_picture{
    max-width: 100%;
    width: 240px;
}

#logo:hover{
    animation: pulse;
    animation-duration: 1s;
}

.nav-item:hover{
    font-size: 17px;
    transition: all .5s;
}

.effect{
    opacity: 0;
}

.normal{
    opacity: 1!important;
    transition: all .5s;
}

.text-primary{
    color: $primary!important;
}

.bg-black{
    background-color: $black;
}

.btn{
    width: 10em;
    text-align: center;
}

.btn-contact{
    width: 5em!important;
    border: 3px solid $terciary;
    max-width: 100%;
}

.btn-contact:hover{
    background-color: #3a4346;
    transition: all .5s;
}

.btn-primary{
    background-color: $primary;
}

.btn-secondary{
    background-color: $secondary;
}

.card{
    border: 1px solid rgba(148, 199, 246, 0.4);
}

.technology{
    display: inline-flex;
    justify-content: center;
    width: 35px;
}

#arrow_up,
#arrow_down{
    font-size: 1.5em;
}

#down{
    position: relative;
    top: 3em;
}

@media (min-width: 576px){
    #text-home{
        font-size: 18px;
    }

    #arrow_up{
        padding: .20em!important;
        font-size: 1.5em;
    }
}

@media (min-width: 768px){
    #profile_picture{
        float: right;
    }

    #text-home{
        display: block;
        margin: auto 0px;
        font-size: 18px;
    }

    #down{
        position: relative;
        top: 7em;
    }
}

@media (min-width: 992px){
    #text-home{
        font-size: 24px;
    }

    .btn-contact{
        padding: 1em;
    }
}

@media (min-width: 1200px){
    #home{
        background-size: 100% 100%;
    }
}
