*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    /* background: url('../images/logo1.png'); */
}

/* NAV BAR */

nav{
    height: 75px;
    width: 100%;
    background-color: #1e236e;
    display: flex;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
}

.logo{
    width: 50px;
    margin-left: 15px;
}

.nav-list{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 75px;
    background-color: #184074;
    text-align: center;
    transition: all .5s;
}

.nav-list li{
    position: relative;
    display: block;
    width: 50%;
    float: left;
    opacity: 0;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .5s;
    border-bottom: 2px solid #1e236e;
    border-right: 2px solid #1e236e;
    border-left: 2px solid #1e236e;
}

.nav-list li:hover{
    background-color: rgba(0,0,0,.3);
}

.nav-list li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-list li a.active, .nav-list li a:hover{
    color: #38d1df;
    transition: 0.5s;
}

.icon-menu{
    display: block;
    font-size: 45px;
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked ~ .nav-list {
    height: auto;
}

#check:checked ~ .nav-list li {
    opacity: 1;
}

/* MAIN */
#first-main{
    background-color: rgb(31, 29, 29);
    padding-bottom: 120px;
}

.container-pic{
    display: flex;
    width: 100%;
    height: 100%;
}

#profile_picture{
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 10%;
    border-radius: 50%;
}

.white{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 21px;
}

.mb{
    margin-bottom: 10px;
}

#name{
    text-align: center;
    color: rgb(56, 160, 30);
}

.container-about{
    background-color: #202e41;
    color: white;
    height: auto;
    padding: 44px;
}

#about-h2{
    margin-bottom: 20px;
}

#about-h3{
    margin-bottom: 20px;
}

#about-p{
    line-height: 23px;
}

.container-projects{
    display: flex;
    width: 100%;
    height: 100%;
}

#img-project1{
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 80%;
}

/* FOOTER */

footer{
    background: #1e236e;
    color: white;
    height: auto;
    padding: 10px 0px;
    text-align: center;

}


@media (min-width:768px){ /*Es el tamaño aproximado para tablet*/
    .logo-container{
        margin-left: 25px;
    }

    .logo{
        width: 60px;
    }

    nav{
        height: 100px;
    }

    .icon-menu{
        display: none;
    }

    .nav-list{
        position: relative;
        display: flex;
        height: 100px;
        top: 0;
        background: none;
        justify-content: flex-end;
        float: right;
        text-align: right;
        margin-right: 25px;
        transition: none;
    }

    .nav-list li {
        display: flex;
        opacity: 1;
        align-items: center;
        width: auto;
        line-height: 20px;
        padding: 0 20px;
        transition: none;
        border: none;
    }

    .nav-list li a.active, .nav.list li a:hover {
        color: #38d1df;
    }

}

/*
#btn-menu{
    display: none;

}

.menu_bar{
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin-right: 10px;
}

.logo-container{
    width: 100%;
    height: 100%;
}

.logo-container img{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.menu ul{
    list-style: none;
    display: none;
    list-style: none;
}

header label{
    display: block;
}

.menu {
    position: absolute;
    background-color: #1e236e;
    width: 70%;
}

@media (min-width:768px){ Es el tamaño aproximado para tablet*/

/*
}
@media (min-width:1024px){ /*Es el tamaño aproximado para PC*/


